body {
  background: linear-gradient(to right, #f9f9fb, #cbcbcb);
}
h1 {
  text-align: center;
  background: linear-gradient(to right, #7e7e7e, #393939);
  color: #ffffffd6;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  top: -260px;
  position: relative;
}
h2 {
  text-decoration: underline;
}
h6 {
  text-align: center;
}
p {
  font: 16px Arial;
  text-align: center;
  position: relative;
  top: -200px;
  margin-bottom: -100px;
}
#pGallery {
  top: 0px;
  margin-bottom: 40px;
}
#imgLogo {
  width: 15%;
  border-radius: 0px;
}
#imgH1 {
  width: 80%;
  height: 400px;
  border-radius: 10px;
}
.imgCenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 500px;
}
.imgTextWidth {
  width: 60%;
  height: 250px;
}
.imgGalleryWidth {
  width: 80%;
  height: 400px;
}
.imgFooterWidth {
  width: 3%;
}
.waviy {
  position: relative;
  -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0, 0, 0, 0.2));
  font-size: 90px;
  text-align: center;
  margin-bottom: 90px;
  margin-top: 30px;
}
.waviy span {
  position: relative;
  display: inline-block;
  animation: waviy 1s infinite;
  animation-delay: calc(0.1s * var(--i));
}
@keyframes waviy {
  0%,
  40%,
  100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-20px);
  }
}
table,
th,
td {
  text-align: center;
  color: white;
  padding: 10px;
  border-radius: 15px;
}
th {
  background-color: black;
  text-transform: uppercase;
}
tr:nth-child(even) {
  background: #aca5a5;
}
tr:nth-child(odd) {
  background: #696a6d;
}
caption {
  color: #000;
  font-size: x-large;
  text-decoration: underline;
  margin-bottom: 5px;
}
.row {
  display: flex;
  margin-left: -5px;
  margin-right: -5px;
}
/*ul & li */
.ul-circles {
  --innerSize: 8rem;
  --rimSize: 2rem;

  display: grid;
  grid-template-columns: repeat(var(--repeatVal, 1), calc(var(--innerSize)));
  justify-content: center;
  gap: var(--rimSize);
  padding-inline: 100px;
}
.ul-circles > li {
  display: grid;
  grid-template-rows: 1fr 1fr;

  aspect-ratio: 1/1;
  border-radius: 50%;

  text-align: center;
  position: relative;
}
.ul-circles > li::before,
.ul-circles > li::after {
  content: "";
  position: absolute;
  aspect-ratio: 1/1;
  border-radius: inherit;
  z-index: -1;
}
.ul-circles > li::before {
  width: calc(100% + calc(2 * var(--rimSize)));
  left: calc(var(--rimSize) * -1);
  top: calc(var(--rimSize) * -1);
  background: var(--accent-color);
  clip-path: polygon(
    var(--clipX1, 0%) var(--clipY1, 0%),
    var(--clipX2, 50%) var(--clipY1, 0%),
    var(--clipX2, 50%) var(--clipY2, 100%),
    var(--clipX1, 0%) var(--clipY2, 100%)
  );
  box-shadow: inset 2px -2px 10px rgba(255, 255, 255, 0.25),
    inset -2px 2px 10px rgba(0, 0, 0, 0.5);
}
.ul-circles > li:nth-child(even)::before {
  --clipX1: 50%;
  --clipX2: 100%;
}
@media (min-width: 40rem) {
  .ul-circles {
    --repeatVal: auto-fit;
  }
}

.ul-circles > li::after {
  width: 100%;
  background: #fdfdfd;
  box-shadow: -0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.25);
}
.ul-circles > li > i {
  font-size: 2.5rem;
  color: var(--accent-color);
  align-self: end;
}
span{
  position: relative;
  top: 40px;
}