@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
@import url('./vars.css');
@import url('./reset.css');
@import url('./loader_show_content.css');
@import url('./flags.css');
@import url('./nav.css');
@import url('./footer.css');
@import url('./general.css');

/* 404 Error css */
body {
    background: #22232e;
}

.parallax {
    /* The image used */
    background-image: url("../assets/images/404/404.png");
}

.text {
    display: block;
    padding: calc(4*var(--sizing-px)) calc(4*var(--sizing-px));
    width: calc(45*var(--sizing-px));
}

.text h1 {
    color: #00c2cb;
    font-size: calc(35*var(--sizing-px));
    font-weight: var(--fw-bold);
    margin-bottom: calc(1.5*var(--sizing-px));
}

.text p {
    font-size: calc(1.5*var(--sizing-px));
    color: #e0ffff;
    margin-bottom: calc(1.5*var(--sizing-px));
    line-height: calc(15*var(--sizing-rem));
    margin-bottom: calc(1.5*var(--sizing-px));
}

.input-box {
    position: relative;
    display: flex;
    width: calc(10*var(--sizing-percent));
}

.input-box input {
    width: calc(8.5*var(--sizing-percent));
    height: calc(4*var(--sizing-px));
    padding: calc(var(--sizing-px)/2) calc(1.5*var(--sizing-px));
    font-size: calc(1.6*var(--sizing-px));
    color: #22232e;
    border-radius: calc(var(--sizing-px)/2) 0px 0px calc(var(--sizing-px)/2);
    border: calc(var(--sizing-px)/5) solid #42455a;
    outline: none;
}

.input-box button {
    display: flex;
    width: calc(1.5*var(--sizing-percent));
    border: calc(var(--sizing-px)/10) solid #004958;
    border-radius: 0px calc(var(--sizing-px)/2) calc(var(--sizing-px)/2) 0px;
    background: #004958;
    color: #e0ffff;
    font-size: 22px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.menu {
    display: flex;
    flex-direction: column;
    margin-top: calc(1.5*var(--sizing-px));
    margin-left: calc(3*var(--sizing-px));
}

.menu li a {
    display: flex;
    font-size: calc(15*var(--sizing-rem));
    color: var(--clr-invert);
    transition: 0.1s;
    filter: var(--drop-shadow-white);
    margin: calc(1.5*var(--sizing-px));
}

.menu li a:hover {
    font-weight: var(--fw-bold);
    filter: var(--drop-shadow-white);
}