@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
@import url('./vars.css');
@import url('./reset.css');
@import url('./flags.css');
@import url('./nav.css');
@import url('./footer.css');
@import url('./general.css');

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    /* Line under h2 position */
    .h2-main-section::before,
    .h2-main-section::after {
        top: calc(1.6*var(--sizing-percent));
    }
}


@media only screen and (max-width: 430px) {

    /* Line under h2 position */
    .h2-main-section::before,
    .h2-main-section::after {
        top: calc(1.5*var(--sizing-percent));
    }
}

@media only screen and (max-width: 338px) {

    /* Line under h2 position */
    .h2-main-section::before,
    .h2-main-section::after {
        top: calc(2*var(--sizing-percent));
    }
}

@media only screen and (max-width: 285px) {

    /* Line under h2 position */
    .h2-main-section::before,
    .h2-main-section::after {
        top: calc(1.7*var(--sizing-percent));
    }
}

@media only screen and (max-width: 235px) {

    /* Line under h2 position */
    .h2-main-section::before,
    .h2-main-section::after {
        top: calc(1.5*var(--sizing-percent));
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

    /* Line under h2 position */
    .h2-main-section::before,
    .h2-main-section::after {
        top: calc(2*var(--sizing-percent));
    }
}

/* Careers css */
body {
    background: var(--clr-linear-gradient1-l);
}

/* Header */
.parallax {
    /* The image used */
    background-image: url("../assets/images/careers/careers.png");
}

.img-benefits {
    width: calc(10*var(--sizing-percent));
    padding: calc(5*var(--sizing-rem));
    border-radius: calc(2*var(--sizing-percent));
}

.img-benefits:hover {
    filter: var(--drop-shadow-black);
}

/* Transition property for transformation of images */
.img-benefits {
    transition: transform .5s ease-in-out;
}

/* Transforming the image when container gets hovered */
.img-benefits:hover {
    transform: scale(2) rotate(25deg);
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
    background: transparent;
    width: calc(10*var(--sizing-percent));
    height: calc(35*var(--sizing-px));
    perspective: calc(100*var(--sizing-px));
    /* Remove this if you don't want the 3D effect */
    filter: var(--drop-shadow-black);
    color: var(--clr-secondary);
    padding: calc(5* var(--sizing-rem));
}

/* This container is needed to position the front and back side */
.flip-card-inner {
    position: relative;
    width: calc(10*var(--sizing-percent));
    height: calc(10*var(--sizing-percent));
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
    position: absolute;
    width: calc(10*var(--sizing-percent));
    height: calc(10*var(--sizing-percent));
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;
    border-radius: calc(2*var(--sizing-percent));
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
    background: var(--clr-linear-gradient1-r);
}

/* Style the back side */
.flip-card-back {
    background: var(--clr-linear-gradient1-l);
    transform: rotateY(180deg);
}

.i-flip-card {
    font-size: calc(20*var(--sizing-rem));
    margin-block: calc(10*var(--sizing-rem));
    text-align: center;
    display: block;
}

.flip-card-front .ul-main-section {
    padding-left: var(--sizing-px);
}

.flip-card-back .p-main-section:first-child {
    margin-top: calc(10*var(--sizing-rem));
}

.flip-card-back .glow-on-hover {
    margin: auto;
}