@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
@import url('./vars.css');
@import url('./reset.css');
@import url('./flags.css');
@import url('./nav.css');
@import url('./footer.css');
@import url('./general.css');

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    /* Line under h2 position */
    .h2-main-section::before,
    .h2-main-section::after {
        top: calc(0.55*var(--sizing-percent));
    }
}

@media only screen and (max-width: 309px) {

    /* Line under h2 position */
    .h2-main-section::before,
    .h2-main-section::after {
        top: calc(0.7*var(--sizing-percent));
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

    /* Line under h2 position */
    .h2-main-section::before,
    .h2-main-section::after {
        top: calc(0.9*var(--sizing-percent));
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .container {
        padding-right: calc(8*var(--sizing-px));
        padding-left: calc(8*var(--sizing-px));
    }
}

/* Contact us css */
body {
    background: var(--clr-linear-gradient1-l);
}

/* Google Map */
#googleMapContainer {
    height: calc(50*var(--sizing-px));
    box-shadow: var(--box-shadow1);
    overflow: hidden;
    padding-bottom: calc(4.5*var(--sizing-percent));
    position: relative;
    margin-bottom: calc(15*var(--sizing-rem));
}

#googleMap {
    left: 0;
    top: 0;
    height: calc(10*var(--sizing-percent));
    width: calc(10*var(--sizing-percent));
    position: absolute;
    border: 0;
}

/* Nav */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .hamb-line {
        background: var(--clr-primary);
    }

    .hamb-line::before,
    .hamb-line::after {
        background: var(--clr-primary);
    }
}

.brand-logo {
    filter: unset;
}

.dropbtn {
    color: var(--clr-primary);
}

.link {
    color: var(--clr-primary);
}

/* Contact Us */
/* Ul grid in main section */
.ul-main-section-grid {
    grid-template-columns: 4fr 2fr;
}

.i-ul-main-section {
    font-size: calc(20* var(--sizing-rem));
    padding-bottom: calc(12.5*var(--sizing-rem));
}

.contact-info .i-ul-main-section:first-child {
    color: #e91e63;
}

.contact-info .i-ul-main-section:nth-child(3) {
    color: #00bcd4;
}

.contact-info .i-ul-main-section:nth-child(5) {
    color: #3f51b5;
}

.ul-contact-form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: calc(12.5*var(--sizing-rem));
}

.i-ul-main-section {
    padding: calc(11*var(--sizing-rem)) 0;
}