@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
@import url('./vars.css');
@import url('./reset.css');
@import url('./flags.css');
@import url('./nav.css');
@import url('./footer.css');
@import url('./general.css');

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    /* Line under h2 position */
    .h2-main-section::before,
    .h2-main-section::after {
        top: calc(2.5*var(--sizing-percent));
    }
}

@media only screen and (max-width: 390px) {

    /* Line under h2 position */
    .h2-main-section::before,
    .h2-main-section::after {
        top: calc(2*var(--sizing-percent));
    }
}

@media only screen and (max-width: 241px) {

    /* Line under h2 position */
    .h2-main-section::before,
    .h2-main-section::after {
        top: calc(2.5*var(--sizing-percent));
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

    /* Line under h2 position */
    .h2-main-section::before,
    .h2-main-section::after {
        top: calc(2.5*var(--sizing-percent));
    }
}

/* Cookies css */
body {
    background: var(--clr-linear-gradient1-l);
}

/* Header */
.parallax {
    /* The image used */
    background-image: url("../assets/images/cookies/cookies.png");
}