/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    /* Location social media links & images */
    .footer section:first-child {
        display: grid;
        justify-content: center;
    }

    /* Image download link width */
    .my-social-img-width {
        width: calc(74.125*var(--sizing-rem));
    }

    #footer-download {
        margin: auto;
    }

    /* Footer menu */
    #footer-menu {
        display: block;
        text-align: center;
    }

    #footer-menu li:nth-last-child(2) a {
        display: unset;
        padding-bottom: 0;
    }

    #footer-menu li p,
    #footer-menu li a,
    #footer-menu li i {
        padding: var(--sizing-px);
    }

    #footer-menu li h6,
    #footer-menu li img {
        padding-block: calc(10*var(--sizing-rem));
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

    /* Location social media links & images */
    .footer section:first-child {
        display: flex;
        justify-content: center;
    }

    /* Image download link width */
    .my-social-img-width {
        width: calc(74.125*var(--sizing-rem));
    }

    /* Font size li in middle footer */
    #footer-menu li:nth-last-child(2),
    #footer-menu li:last-child {
        font-size: calc(12.5*var(--sizing-rem));
    }

    /* Footer menu */
    #footer-menu li:nth-last-child(2) a {
        display: grid;
        padding-bottom: var(--sizing-px);
    }

    #footer-menu li p,
    #footer-menu li a,
    #footer-menu li i {
        padding-right: calc(15*var(--sizing-rem));
    }

    #footer-menu li h6,
    #footer-menu li img {
        padding-bottom: calc(15*var(--sizing-rem));
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    /* Location social media links & images */
    .footer section:first-child {
        justify-content: space-between;
    }

    /* Image download link width */
    .my-social-img-width {
        width: calc(98.12500*var(--sizing-rem));
    }

    /* Font size li in middle footer */
    #footer-menu li:nth-last-child(2),
    #footer-menu li:last-child {
        font-size: calc(15*var(--sizing-rem));
    }
}

/* Footer css */
.footer {
    background: var(--clr-linear-gradient1);
}

.my-footer-background-color {
    background-color: var(--clr-footer-background-color);
}

.footer section:first-child {
    padding: calc(15*var(--sizing-rem));
}

/* Social media links */
.my-social-btn-link {
    display: inline-block;
    width: calc(28.12500*var(--sizing-rem));
    height: calc(28.12500*var(--sizing-rem));
    border-radius: calc(5*var(--sizing-percent));
    padding: calc(1.5*var(--sizing-px));
    border: 0;
    margin: calc(3*var(--sizing-rem));
    text-align: center;
}

.my-social-btn-link:hover {
    box-shadow: var(--box-shadow2);
    filter: var(--drop-shadow-white);
    background-color: var(--clr-hover);
}

.my-social-img-width {
    display: inline-block;
    margin: calc(3*var(--sizing-rem));
}

.my-social-img-width:hover {
    box-shadow: var(--box-shadow2);
    filter: var(--drop-shadow-black);
}

/* Footer menu */
#footer-menu {
    grid-template-columns: 1fr 1fr 1fr;
    padding: calc(30*var(--sizing-rem));
    justify-items: center;
}

#footer-menu li img {
    width: calc(5*var(--sizing-percent));
    margin: auto;
}

#footer-menu li:nth-last-child(2) a {
    opacity: 0.5;
}

#footer-menu li:nth-last-child(2) a:hover {
    filter: var(--drop-shadow-black);
    opacity: 1;
}

/* Copyright */
#copyright {
    text-align: center;
    padding: calc(15*var(--sizing-rem));
}

#copyright .my-dropdown-divider {
    width: 50%;
    margin: calc(6*var(--sizing-rem)) auto;
}

#copyright a {
    opacity: 0.5;
}

#copyright a:hover {
    filter: var(--drop-shadow-black);
    opacity: 1;
}