/* General css */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .container {
        max-width: calc(54*var(--sizing-px));
    }

    /* Div header position */
    .div-header {
        top: var(--sizing-px);
    }

    /* h1 font size */
    .h1-div-header {
        font-size: calc(20*var(--sizing-rem));
    }

    /* h5 font size */
    .h5-div-header {
        font-size: calc(9.5*var(--sizing-rem));
    }

    /* Line under h2 position & width */
    .h2-main-section::before,
    .h2-main-section::after {
        width: calc(6*var(--sizing-px));
        top: calc(0.6*var(--sizing-percent));
    }

    /* Ul grid in main section */
    .ul-main-section-grid {
        display: block;
    }
}


@media only screen and (max-width: 430px) {

    /* Line under h2 position */
    .h2-main-section::before,
    .h2-main-section::after {
        top: calc(0.7*var(--sizing-percent));
    }
}

@media only screen and (max-width: 341px) {

    /* Line under h2 position */
    .h2-main-section::before,
    .h2-main-section::after {
        top: calc(1.3*var(--sizing-percent));
    }
}

@media only screen and (max-width: 325px) {

    /* Div header position */
    .div-header {
        top: var(--sizing-px);
    }

    /* h1 font size */
    .h1-div-header {
        font-size: calc(15*var(--sizing-rem));
    }

    /* h5 font size */
    .h5-div-header {
        font-size: calc(7.5*var(--sizing-rem));
    }
}

@media only screen and (max-width: 240px) {

    /* Div header position */
    .div-header {
        top: var(--sizing-px);
    }

    /* h1 font size */
    .h1-div-header {
        font-size: calc(12*var(--sizing-rem));
    }

    /* h5 font size */
    .h5-div-header {
        font-size: calc(5.5*var(--sizing-rem));
    }
}

@media only screen and (max-width: 235px) {

    /* Line under h2 position */
    .h2-main-section::before,
    .h2-main-section::after {
        top: calc(1.7*var(--sizing-percent));
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .container {
        max-width: calc(72*var(--sizing-px));
        padding-right: 0;
        padding-left: 0;
    }

    /* Div header position */
    .div-header {
        top: var(--sizing-px);
    }

    /* h1 font size */
    .h1-div-header {
        font-size: calc(45*var(--sizing-rem));
    }

    /* h5 font size */
    .h5-div-header {
        font-size: calc(12.5*var(--sizing-rem));
    }

    /* Line under h2 position & width */
    .h2-main-section::before,
    .h2-main-section::after {
        width: calc(10*var(--sizing-px));
        top: calc(1.3*var(--sizing-percent));
    }

    /* Ul grid in main section */
    .ul-main-section-grid {
        display: grid;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .container {
        max-width: calc(96*var(--sizing-px));
        padding-right: calc(15*var(--sizing-px));
        padding-left: calc(15*var(--sizing-px));
    }

    /* Div header position */
    .div-header {
        top: 0;
    }
}

/* font general site */
* {
    font-family: var(--ff-primary);
    font-optical-sizing: var(--fs-auto);
    font-weight: var(--fw-normal);
    font-style: var(--fs-normal);
    font-variation-settings: "wdth" var(--fw-100);
}

/* Container for general */
.container {
    width: calc(10*var(--sizing-percent));
    margin-right: auto;
    margin-left: auto;
}

/* Parallax for image */
.parallax {
    /* The image used - changing from page to page - Therefore it should be defined on each page */
    /* background-image: url(""); */

    /* Set a specific height */
    width: calc(10*var(--sizing-percent));
    min-height: calc(70*var(--sizing-px));

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* grid */
.grid {
    display: grid;
}

/* my general classes */
.my-border-bottom-radius {
    border-bottom-left-radius: var(--sizing-px);
    border-bottom-right-radius: var(--sizing-px);
}

.my-dropdown-divider {
    height: calc(var(--sizing-px)/10);
    background: var(--clr-linear-gradient5);
    margin: 0 auto;
}

.my-img-drop-black-shadow {
    filter: var(--drop-shadow-black);
}

.my-img-drop-white-shadow {
    filter: var(--drop-shadow-white);
}

/* Div header */
.div-header {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    width: calc(10*var(--sizing-percent));
    height: calc(10*var(--sizing-percent));
    overflow: hidden;
}

/* Div header1 */
.div-header1 {
    height: calc(10*var(--sizing-percent));
    align-items: center;
    justify-content: center;
    display: flex;
}

/* Div header2 */
.div-header2 {
    display: flex;
    flex-wrap: wrap;
    margin-right: calc(1.5*var(--sizing-px));
    margin-left: calc(1.5*var(--sizing-px));
    padding-top: calc(30*var(--sizing-rem));
    margin-top: calc(10*var(--sizing-rem));
}

/* Div header3 */
.div-header3 {
    position: relative;
    width: calc(10*var(--sizing-percent));
    padding-right: calc(1.5*var(--sizing-px));
    padding-left: calc(1.5*var(--sizing-px));
    margin-bottom: calc(10*var(--sizing-rem));
    flex: 0 0 calc(10*var(--sizing-percent));
    max-width: calc(10*var(--sizing-percent));
    text-align: center;
    background-color: rgba(62, 69, 81, 0.3);
    border-radius: calc(2*var(--sizing-percent));
}

/* h1 div header */
.h1-div-header {
    color: var(--clr-invert);
    margin-bottom: calc(30*var(--sizing-rem));
    font-weight: var(--fw-normal);
    line-height: 1.2;
    margin-top: 0;
    filter: var(--drop-shadow-white);
}

.h1-div-header span {
    font-weight: var(--fw-bold);
}

/* h5 div header */
.h5-div-header {
    color: var(--clr-invert);
    text-transform: uppercase;
    margin-bottom: calc(30*var(--sizing-rem));
    margin-top: calc(2.5*var(--sizing-rem));
    letter-spacing: calc(var(--sizing-px)/2.5);
}

.h5-div-header p {
    line-height: 1.2;
    font-weight: var(--fw-bold);
}

.h5-div-header p:first-child {
    padding-bottom: var(--sizing-px);
}

/* Main section 1 */
.main-section {
    padding-bottom: calc(15*var(--sizing-rem));
}

/* h2 main section */
.h2-main-section {
    font-weight: var(--fw-bold);
    text-align: center;
    margin-bottom: calc(30*var(--sizing-rem));
    margin-top: calc(30*var(--sizing-rem));
    font-size: calc(25*var(--sizing-rem));
    line-height: 1.2;
}

/* Line under h2 */
.h2-main-section::before,
.h2-main-section::after {
    content: "";
    display: block;
    height: calc(var(--sizing-px)/2);
    background: var(--clr-secondary);
    position: absolute;
}

.h2-main-section::before {
    left: calc(5*var(--sizing-percent));
}

.h2-main-section::after {
    right: calc(5*var(--sizing-percent));
}

/* p & ul main section */
.p-main-section {
    width: calc(7.5*var(--sizing-percent));
    color: var(--clr-secondary);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: calc(30*var(--sizing-rem));
    line-height: 1.2;
}

.ul-main-section {
    width: calc(8.5*var(--sizing-percent));
    color: var(--clr-secondary);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: calc(30* var(--sizing-rem));
    line-height: 1.2;
    list-style: disc;
}

.ul-header-main-section {
    list-style: none;
    font-weight: var(--fw-bold);
    padding-bottom: calc(5*var(--sizing-rem));
}

.p-main-section span,
.ul-main-section span {
    font-weight: var(--fw-bold);

}

/* Ul grid in main section */
.ul-main-section-grid {
    grid-template-columns: 1fr 1fr 1fr;
}

.i-ul-main-section {
    display: block;
    text-align: center;
    font-size: calc(40* var(--sizing-rem));
    font-weight: var(--fw-bold);
    filter: var(--drop-shadow-black);
}

.ul-main-section-grid li:first-child i {
    color: #e91e63;
}

.ul-main-section-grid li:nth-child(2) i {
    color: #00bcd4;
}

.ul-main-section-grid li:last-child i {
    color: #3f51b5;
}

.h3-ul-main-section {
    font-weight: var(--fw-bold);
    text-align: center;
    margin-bottom: calc(30* var(--sizing-rem));
    margin-top: calc(30* var(--sizing-rem));
    font-size: calc(15* var(--sizing-rem));
    line-height: 1.2;
}

/* divider between section */
.divider-main-section {
    margin-block: calc(30*var(--sizing-rem));
}

/* Main section 2 */
.no-line-under .h2-main-section::before,
.no-line-under .h2-main-section::after {
    width: 0;
}

/* Div floating section container  */
.container-fluid {
    width: calc(10*var(--sizing-percent));
    padding-right: calc(3.5*var(--sizing-px));
    padding-left: calc(3.5*var(--sizing-px));
    margin-right: auto;
    margin-left: auto;
    margin-bottom: calc(30*var(--sizing-rem));
}

.inside-container {
    margin-top: calc(-10*var(--sizing-px));
    margin-right: calc(-1.5*var(--sizing-px));
    margin-left: calc(-1.5*var(--sizing-px));
}

.col-fs-12 {
    padding-right: calc(1.5*var(--sizing-px));
    padding-left: calc(1.5*var(--sizing-px));
}

.card {
    font-weight: var(--fw-400);
    border: 0;
    box-shadow: var(--box-shadow1);
    padding-bottom: calc(30*var(--sizing-rem));

    position: relative;
    min-width: 0;
    word-wrap: break-word;
    background: var(--clr-linear-gradient2);
    background-clip: border-box;
    border-radius: calc(20*var(--sizing-rem));
}

.card-body {
    min-height: calc(var(--sizing-px)/10);
    padding: calc(12.5*var(--sizing-rem));
}

/* Form control */
.form-control {
    box-sizing: content-box;
    background-color: transparent;
    border: none;
    border-bottom: calc(var(--sizing-px)/10) solid var(--clr-secondary);
    outline: none;
    color: var(--clr-secondary);
    height: auto;
    padding: calc(6*var(--sizing-rem)) 0 calc(4*var(--sizing-rem)) 0;
    margin: 0 0 calc(5*var(--sizing-rem)) 0;
    font-weight: var(--fw-400);
    line-height: 1.5;
    font-size: calc(10*var(--sizing-rem));
    width: calc(10*var(--sizing-percent));
    display: block;
}

.form-control:focus {
    border-bottom: 1px solid var(--clr-primary);
    box-shadow: 0 1px 0 0 var(--clr-primary);
    color: var(--clr-primary);
}

.space-between-elements {
    margin-top: calc(15*var(--sizing-rem));
    margin-bottom: calc(15*var(--sizing-rem));
    padding: calc(15*var(--sizing-rem)) 0;
}

/* Animation css */
/* Shine animation */
.shine-animation {
    /* styles - section h3 animation */
    background: var(--clr-linear-gradient3);
    letter-spacing: calc(3*var(--sizing-rem));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-repeat: no-repeat;
    background-size: calc(8*var(--sizing-percent));
    animation: shine 5s linear infinite;
    position: relative;
}

@keyframes shine {
    0% {
        background-position-x: calc(-50*var(--sizing-percent));
    }

    100% {
        background-position-x: calc(50*var(--sizing-percent));
    }
}

/* Glowing animation for button & a */
.glow-on-hover {
    width: calc(4*var(--sizing-percent));
    padding-block: calc(10* var(--sizing-rem));
    border: none;
    outline: none;
    color: var(--clr-invert);
    background: var(--clr-primary);
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: var(--sizing-px);
    font-weight: var(--fw-bold);
    display: block;
    text-align: center;
    box-shadow: var(--box-shadow1);
}

.glow-on-hover:before {
    content: '';
    background: var(--clr-linear-gradient4);
    position: absolute;
    top: calc(var(--sizing-px)/-5);
    left: calc(var(--sizing-px)/-5);
    background-size: calc(40*var(--sizing-percent));
    z-index: -1;
    filter: blur(calc(var(--sizing-px)/2));
    width: calc(10*var(--sizing-percent) + var(--sizing-px)/2.5);
    height: calc(10*var(--sizing-percent) + var(--sizing-px)/2.5);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: var(--sizing-px);
}

.glow-on-hover:active {
    color: var(--clr-primary);
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: calc(10*var(--sizing-percent));
    height: calc(10*var(--sizing-percent));
    background: var(--clr-primary);
    left: 0;
    top: 0;
    border-radius: var(--sizing-px);
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: calc(40*var(--sizing-percent)) 0;
    }

    100% {
        background-position: 0 0;
    }
}

/* Fade in animation */
.fadeIn {
    -webkit-animation-name: fadeIn;
    -moz-animation-name: fadeIn;
    -o-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -o-animation-duration: 2s;
    animation-duration: 2s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        -webkit-transform: translatey(calc(10*var(--sizing-percent)));
        -moz-transform: translatey(calc(10*var(--sizing-percent)));
        -o-transform: translatey(calc(10*var(--sizing-percent)));
        transform: translatey(calc(10*var(--sizing-percent)));
    }

    100% {
        opacity: 1;
        -webkit-transform: translatey(0%);
        -moz-transform: translatey(0%);
        -o-transform: translatey(0%);
        transform: translatey(0%);
    }
}

/* Up_down effect */
.up_down-effect {
    animation-name: up_down-effect;
    animation-duration: 3600ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    transform-style: preserve-3d;
    -webkit-animation-name: up_down-effect;
    -webkit-animation-duration: 3600ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-transform-style: preserve-3d;
}

@keyframes up_down-effect {
    0% {
        -webkit-transform: translate3d(0, 10px, 0);
        transform: translate3d(0, 10px, 0)
    }

    to {
        -webkit-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0)
    }
}