/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .container {
        max-width: calc(54*var(--sizing-px));
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .container {
        max-width: calc(72*var(--sizing-px));
        padding-right: 0;
        padding-left: 0;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .container {
        max-width: calc(96*var(--sizing-px));
        padding-right: calc(15*var(--sizing-px));
        padding-left: calc(15*var(--sizing-px));
    }
}

/* font general site */
* {
    font-family: var(--ff-primary);
    font-optical-sizing: var(--fs-auto);
    font-weight: var(--fw-normal);
    font-style: var(--fs-normal);
    font-variation-settings: "wdth" var(--fw-100);
}

/* Container for general */
.container {
    width: calc(10*var(--sizing-percent));
    margin-right: auto;
    margin-left: auto;
}

/* Parallax for image */
.parallax {
    /* The image used - changing from page to page - Therefore it should be defined on each page */
    /* background-image: url(""); */

    /* Set a specific height */
    width: calc(10*var(--sizing-percent));
    min-height: calc(70*var(--sizing-px));

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* grid */
.grid {
    display: grid;
}

/* my general classes */
.my-border-bottom-radius {
    border-bottom-left-radius: var(--sizing-px);
    border-bottom-right-radius: var(--sizing-px);
}

.my-dropdown-divider {
    height: calc(var(--sizing-px)/10);
    background: var(--clr-linear-gradient5);
    margin: 0 auto;
}

.my-img-drop-black-shadow {
    filter: var(--drop-shadow-black);
}

/* Shine animation */
.shine-animation {
    /* styles - section h3 animation */
    background: var(--clr-linear-gradient3);
    letter-spacing: calc(3*var(--sizing-rem));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-repeat: no-repeat;
    background-size: 80%;
    animation: shine 5s linear infinite;
    position: relative;
}

@keyframes shine {
    0% {
        background-position-x: -500%;
    }

    100% {
        background-position-x: 500%;
    }
}

/* Glowing animation for button & a */
.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: var(--clr-invert);
    background: var(--clr-primary);
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: var(--clr-linear-gradient4);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: var(--clr-primary);
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--clr-primary);
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

/* Fade in animation */
.fadeIn {
    -webkit-animation-name: fadeIn;
    -moz-animation-name: fadeIn;
    -o-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -o-animation-duration: 2s;
    animation-duration: 2s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        -webkit-transform: translatey(100%);
        -moz-transform: translatey(100%);
        -o-transform: translatey(100%);
        transform: translatey(100%);
    }

    100% {
        opacity: 1;
        -webkit-transform: translatey(0%);
        -moz-transform: translatey(0%);
        -o-transform: translatey(0%);
        transform: translatey(0%);
    }
}