/* My CSS - Loader show content CSS */

/* Body background-color */
body {
    background-color: rgb(173, 169, 150);
}

/* Body background-color */

/* Center the loader */
#loader {
    margin-left: auto;
    margin-right: auto;
    width: calc(5*var(--sizing-percent));
    position: absolute;
    left: calc(2.5*var(--sizing-percent));
    top: calc(4*var(--sizing-percent));
    z-index: 1;
}


/* Center the loader */

/* Add animation to "page content" */
.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@-webkit-keyframes animatebottom {
    from {
        bottom: calc(-10*var(--sizing-px));
        opacity: 0
    }

    to {
        bottom: 0px;
        opacity: 1
    }
}

@keyframes animatebottom {
    from {
        bottom: calc(-10*var(--sizing-px));
        opacity: 0
    }

    to {
        bottom: 0;
        opacity: 1
    }
}

#myLoaderDiv {
    display: none;
}

/* Add animation to "page content" */

/* My CSS - Loader show content CSS */