/* Nav css */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 357px) {

    /* Links below the navbar */
    .links-container {
        font-size: var(--sizing-px);
    }
}

@media only screen and (max-width: 275px) {

    /* Links below the navbar */
    .links-container {
        font-size: calc(0.5*var(--sizing-px));
    }
}

@media only screen and (max-width: 600px) {

    /* Nav */
    .nav {
        grid-template-columns: 2fr 1fr 1fr 1fr;
    }

    /* Mobile display */
    .mobile-display {
        display: none;
    }

    /* Mobile hamb menu */
    #mobile-hamb-menu {
        display: block;
    }

    /* Mobile nav menu */
    .mobile-nav {
        width: calc(10*var(--sizing-percent));
        height: calc(10*var(--sizing-percent));
        position: fixed;
        background: var(--clr-linear-gradient2);
        overflow: hidden;
        top: calc(12*var(--sizing-px));
        left: 0;
        border-radius: var(--br-10);
    }

    .mobile-menu .subnavbtn {
        padding: calc(3*var(--sizing-px));
        color: var(--clr-primary);
        opacity: 0.5;
    }

    .mobile-menu .subnavbtn:hover {
        background-color: var(--clr-hover);
        box-shadow: var(--box-shadow2);
        filter: var(--drop-shadow-black);
        border-radius: var(--br-10);
        opacity: 1;
    }

    .mobile-nav {
        max-height: 0;
        transition: max-height .5s ease-out;
    }

    /* Hamburger menu Icon */
    .hamb {
        cursor: pointer;
    }

    /* Style label tag */
    .hamb-line {
        background: var(--clr-primary);
        display: block;
        height: calc(var(--sizing-px)/5);
        position: relative;
        width: calc(2.5*var(--sizing-px));
        top: calc(-1*var(--sizing-px)/10);
    }

    /* Style span tag */
    .hamb-line::before,
    .hamb-line::after {
        background: var(--clr-primary);
        content: '';
        display: block;
        height: calc(10*var(--sizing-percent));
        position: absolute;
        transition: all .2s ease-out;
        width: calc(10*var(--sizing-percent));
    }

    .hamb-line::before {
        top: calc(var(--sizing-px)/2);
    }

    .hamb-line::after {
        top: calc(-1*var(--sizing-px)/2);
    }

    /* Hide checkbox */
    .mobile-side-menu {
        display: none;
    }

    /* Toggle menu icon */
    .mobile-side-menu:checked~.mobile-nav {
        max-height: calc(10*var(--sizing-percent));
    }

    .mobile-side-menu:checked~.hamb .hamb-line {
        background: transparent;
    }

    .mobile-side-menu:checked~.hamb .hamb-line::before {
        transform: rotate(-45deg);
        top: 0;
    }

    .mobile-side-menu:checked~.hamb .hamb-line::after {
        transform: rotate(45deg);
        top: 0;
    }

    /* Mobile search */
    .mobile-search {
        width: calc(25*var(--sizing-px));
        padding: calc(3* var(--sizing-px));
        display: flex;
        justify-content: center;
    }

    /* Mobile sub nav */
    .subnav-content {
        background: var(--clr-linear-gradient2);
        width: calc(10*var(--sizing-percent));
        z-index: 1;
        padding: calc(2*var(--sizing-px)) 0;
        display: none;
    }

    .subnav-content a {
        color: var(--clr-primary);
        padding: var(--sizing-px) 0;
        text-align: center;
        opacity: 0.5;
    }

    .subnav-content a:hover {
        background-color: var(--clr-hover);
        box-shadow: var(--box-shadow2);
        filter: var(--drop-shadow-black);
        border-radius: var(--br-10);
        opacity: 1;
    }

    .subnav-content .not-hover:hover {
        background-color: transparent;
        box-shadow: none;
        filter: none;
        border-radius: 0;
    }

    .subnav:hover .subnav-content {
        display: grid;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

    /* Nav */
    .nav {
        grid-template-columns: 2fr 1fr 3fr 1fr 1fr 1fr 1fr 1fr;
    }

    /* Mobile display */
    .mobile-display {
        display: block;
    }

    /* Mobile hamb menu */
    #mobile-hamb-menu {
        display: none;
    }

    /* Search */
    .search {
        width: calc(25*var(--sizing-px));
        display: flex;
    }

    .search-box {
        width: calc(6.5*var(--sizing-percent));
    }

    .search-btn {
        width: max-content;
        padding: calc(0.5*var(--sizing-px));
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    /* Search */
    .search {
        width: calc(50*var(--sizing-px));
    }

    .search-box {
        width: calc(8*var(--sizing-percent));
    }

    .search-btn {
        width: calc(2*var(--sizing-percent));
        padding: var(--sizing-px) calc(2*var(--sizing-px));
    }
}

/* Nav styles */
.navbar {
    box-shadow: var(--box-shadow1);
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: calc(10*var(--sizing-percent));
}

.nav {
    padding: calc(var(--sizing-px)/5) var(--sizing-vw);
    display: grid;
    justify-content: space-between;
    align-items: center;
}

/* Brand */
.brand-logo {
    height: calc(6*var(--sizing-px));
    filter: invert(100%);
}

/* Search */
.search-box {
    height: calc(4*var(--sizing-px));
    padding: var(--sizing-px);
    border-top-left-radius: var(--br-10);
    border-bottom-left-radius: var(--br-10);
    border: calc(var(--sizing-px)/10) solid var(--clr-search-box);
    text-transform: capitalize;
    background: none;
    color: var(--clr-secondary);
    outline: none;
}

.search-btn {
    height: calc(4*var(--sizing-px));
    font-size: calc(1.5*var(--sizing-px));
    border: none;
    outline: none;
    cursor: pointer;
    background: var(--clr-primary);
    color: var(--clr-invert);
    text-transform: capitalize;
    border-top-right-radius: var(--br-10);
    border-bottom-right-radius: var(--br-10);
}

.search-box::placeholder {
    color: var(--clr-secondary);
}

/* Style The Dropdown Button */
.dropbtn {
    padding: calc(1.6*var(--sizing-px));
    border-radius: calc(5*var(--sizing-percent));
    cursor: pointer;
    opacity: 0.5;
    color: var(--clr-invert);
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background: var(--clr-linear-gradient2);
    min-width: calc(12*var(--sizing-px));
    z-index: 1;
    border-radius: calc(5*var(--sizing-rem));
    box-shadow: var(--box-shadow2);
    filter: var(--drop-shadow-white);
    top: calc(3.5*var(--sizing-px));
    right: 0;
}

/* Links inside the dropdown */
.dropdown-content a {
    padding: calc(1.2*var(--sizing-px)) calc(1.6*var(--sizing-px));
    display: block;
    opacity: 0.5;
}

.dropdown-content a:first-child {
    border-top-left-radius: calc(5*var(--sizing-rem));
    border-top-right-radius: calc(5*var(--sizing-rem));
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.dropdown-content a:last-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: calc(5*var(--sizing-rem));
    border-bottom-right-radius: calc(5*var(--sizing-rem));
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change color of dropdown links on hover */
/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    box-shadow: var(--box-shadow2);
    filter: var(--drop-shadow-black);
    background-color: var(--clr-hover);
    opacity: 1;
}

.dropdown-content a:hover {
    box-shadow: var(--box-shadow2);
    filter: var(--drop-shadow-white);
    background-color: var(--clr-hover);
    opacity: 1;
}

/* Links below the navbar */
.links-container {
    width: calc(10*var(--sizing-percent));
    display: flex;
    padding: var(--sizing-px) var(--sizing-vw);
    justify-content: center;
}

.link {
    text-transform: capitalize;
    padding: 0 var(--sizing-px);
    margin: 0 calc(var(--sizing-px)/2);
    color: var(--clr-invert);
    opacity: 0.5;
    transition: .5s;
}

.link:hover {
    filter: var(--drop-shadow-black);
    opacity: 1;
}