@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
@import url('./vars.css');
@import url('./reset.css');
@import url('./loader_show_content.css');
@import url('./flags.css');
@import url('./nav.css');
@import url('./footer.css');
@import url('./general.css');
@import url('./index.css');

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .h1-div-header {
        font-size: calc(20* var(--sizing-rem));
    }

    .h5-div-header {
        font-size: calc(9.5* var(--sizing-rem));
    }
}

@media only screen and (max-width: 325px) {
    .h1-div-header {
        font-size: calc(15* var(--sizing-rem));
    }

    .h5-div-header {
        font-size: calc(7.5* var(--sizing-rem));
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .h1-div-header {
        font-size: calc(45* var(--sizing-rem));
    }

    .h5-div-header {
        font-size: calc(12.5* var(--sizing-rem));
    }
}

/* Search css */
body {
    background: var(--clr-linear-gradient1-l);
}

#search_video {
    height: calc(70*var(--sizing-px));
    position: static;
    top: 0;
    left: 0;
    width: calc(10*var(--sizing-percent));
    -o-object-fit: cover;
    object-fit: cover;
    transform: none;
    display: block;
    margin-bottom: 0px;
    min-width: calc(10*var(--sizing-percent));
    min-height: calc(10*var(--sizing-percent));
    box-shadow: var(--box-shadow1);
}

.div-header1 {
    justify-content: center;
}

.div-header3 {
    text-align: center;
    background-color: rgba(62, 69, 81, 0.3);
}

.h5-div-header {
    margin-bottom: calc(30* var(--sizing-rem));
    margin-top: calc(2.5* var(--sizing-rem));
}

/* Search section */
.search-results {
    width: calc(10*var(--sizing-percent));
    padding: calc(6*var(--sizing-px)) 0;
}

.heading {
    font-size: calc(2*var(--sizing-px));
    text-transform: capitalize;
    font-weight: var(--fw-400);
    margin-bottom: calc(4*var(--sizing-px));
    padding: 0 var(--sizing-vw);
    text-align: center;
}

.heading span {
    font-weight: var(--fw-bold);
}

.product-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: auto;
    grid-row-gap: 40px;
    padding: 0;
}